<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>북로그 자세히 보기</title>

        <!-- Bootstrap & FontAwsome -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
        ></script>
        <script src="https://kit.fontawesome.com/8e7edfdec4.js" crossorigin="anonymous"></script>
    
        <!-- JQuery를 import 합니다 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


        <!-- Local CSS & JS import -->
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static", filename="star_rating.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static", filename="slick.css") }}">
        <link rel="stylesheet"  href="{{ url_for("static", filename="animate.css") }}">
        <link rel="stylesheet"  href="{{ url_for("static", filename="style_2nd.css") }}">
        <link rel="stylesheet"  href="{{ url_for("static", filename="responsive.css") }}">
        <link rel="stylesheet"  href="{{ url_for("static", filename="colors.css") }}">
        <script type="text/javascript"  src="{{ url_for("static", filename="script.js") }}"></script>

        <script>

            $(document).ready(async function () {

                render_nav();
                render_loginRegisterModal();
                await checkLogin();

                let stars = "⭐️".repeat('{{book_score}}');
                document.getElementById('stars').innerHTML = stars;
                
                // 접속한 닉네임과 이 페이지의 닉네임이 다르면, 

                await permissionToEdit();
                await showBookInfo();
                
            });

            // 게시글 edit, delete 권한 확인 후 class 변경
            function permissionToEdit() {

                $.ajax({
                type: "GET",
                url: "/check-login",
                data: {},
                success: function (response) {

                    if (response["nickname"] != '{{book_nick}}'){

                        $('#go-edit').addClass("d-none")
                        $('#go-delete').addClass("d-none")
                    }

                },
                });
            
            }

            // 게시글 삭제하기
            function deleteReview(){

                $.ajax({
                    type: "GET",
                    url: "/check-login",
                    data: {},
                    success: function (response) {

                        if (response["nickname"] != '{{book_nick}}'){
                            alert('삭제 권한이 없습니다.')
                            window.history.back()
                            return;
                        } else {

                            $.ajax({
                                type: "POST",
                                url: "/delete/{{book_num}}",
                                data: {},
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    
                                    alert(response["message"])
                                    window.location.href = '/';
                                },
                            })

                        } 

                    },
                })

            }


            // 전달받은 isbn으로 naverAPI를 통해 데이터 받기
            function showBookInfo(){

                $.ajax({
                    type: "POST",
                    url: "/detail/{{isbn}}",
                    data: {},
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        
                        $("#info-author").text(response['author'])
                        $("#info-description").text(response['description'])
                        $("#info-isbn").text('{{isbn}}')
                        $("#info-price").text(response['price'])
                        $("#info-pubdate").text(response['pubdate'])
                        $("#info-publisher").text(response['publisher'])
                        
                    },
                })

            }



        </script>

    </head>
    <body>
        <!-- 공통 header -->
        <div id="header-slot"></div>
        <!--공통 header end -->

        <!-- main container of all the page elements -->
        <div id="wrapper">

            <!-- main of the page -->
            <div class="w1">
            <main id="main" role="main">
            <!-- twocolumns of the page -->
            <div id="twocolumns">
                <div class="container">
                    <div class="row">
                        <!-- Content of 리뷰 -->
                        <article id="content" class="col-xs-12 col-md-8">
                        
                        <!-- Post Block of the page -->
                        <div
                            class="post-block single-post wow fadeInUp"
                            data-wow-delay="0.6s"
                        >
                            <div class="post-holder">
                            <time><a href="#" style="text-decoration: none;"> 작성자 :{{book_nick}}</a></time>
                            <h2>{{book_title.split('(')[0]}} 북리뷰</h2>
                            <p>
                                {{book_content | safe}}
                            </p>
                            <span class=" px-2"
                                >별점 : <span id='stars' class = 'px-1'></span> </span
                            >
                            <span class=" px-2"
                                > 작성일 : {{book_time}}</span
                            >
                            <span class=" px-2"
                                > 카테고리 : {{category}}</span
                            >
                            
                            <footer>
                                <strong id="go-home" class="text"><a href="/" style = "text-decoration: none; color: white;"> <i class="fas fa-home px-2"></i>홈으로 이동</a></strong>
                                <strong id="go-edit" class="text"><a href="/edit/{{book_num}}" style = "text-decoration: none; color: white;"> <i class="fa-solid fa-pen-to-square px-2"></i>수정하기</a></strong>
                                <strong id="go-delete" class="text"><a href="javascript:deleteReview();" style = "text-decoration: none; color: white;"> <i class="fa-solid fa-trash px-2"></i>삭제하기</a></strong>
                            </footer>

                            </div>
                        </div>
                        <!-- Post Block of the page end -->
                        </article>
                        <!-- Content of 리뷰 end -->
                        <!-- Sidebar of 책정보 -->
                        <aside id="sidebar" class="col-xs-12 col-md-4">
                        <!-- 책 사진  -->
                        <div
                            class="widget promo-widget wow fadeInUp"
                            data-wow-delay="0.6s"
                        >
                            <a href="#"
                            ><img
                                class="p-4"
                                src="{{book_imageurl}}"
                                alt="{{book_title.split('(')[0]}} book cover"
                            /></a>
                        </div>
                        <!-- 책 사진  end -->
        
                        <!-- Widget of the page -->
                        <div
                            class="widget widget_categories version-ii wow fadeInUp"
                            data-wow-delay="0.6s"
                        >
                            <header class="widget-head">
                            <h3>{{book_title.split('(')[0]}}</h3>
                            {% if book_title.split('(')[1] %}
                            <span>{{book_title.split('(')[1].replace(')','')}}</span>
                            {% endif %}
                            </header>
                            <ul>
                            <li class="cat-item cat-item-1">
                                <span id = "info-author"></span>
                            </li>
                            <li class="cat-item cat-item-1">
                                <span id = "info-isbn"></span>
                                <span id = "info-price"></span>
                            </li>
                            <li class="cat-item cat-item-1">
                                <span id = "info-pubdate"></span>
                                <span id = "info-publisher"></span>
                            </li>
                            <hr>
                             <p id = "info-description"></p>
                            </ul>
                        </div>
                        <!-- Widget of the page end -->
                    
                        </aside>
                        <!-- Sidebar of 책정보 end -->
                    </div>
                </div>
            </div>
            </main>
            <!-- main of the page end -->

            <!-- footer of the page -->
            <footer id="footer" class="wow fadeInUp" data-wow-delay="0.4s">
                <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    <p>&copy; 2022 Copyright <a href="home.html"> SpaceTime </a>. All Rights Reserved</p>
                    </div>
                </div>
                </div>
            </footer>
            <!-- footer of the page end -->
        </div>
    
    </body>
</html>
